.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    z-index: 10;
}

.top-row {
    justify-content: flex-end;
    height: var(--top-row-height);
    display: flex;
    align-items: center;
    z-index: 10;
}

.top-row ::deep a,
.top-row ::deep .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
}

.top-row ::deep a:hover,
.top-row ::deep .btn-link:hover {
    text-decoration: underline;
}

.top-row ::deep a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.window {
    position: fixed;
    border-top-left-radius: 2rem;
    height: calc(100% - var(--top-row-height));
    width: calc(100% - var(--sidebar-width));
    overflow-y: auto;
}

.counter-badge {
    position: absolute;
    display: grid;
    top: 0;
    right: -8px;
    width: 16px;
    height: 16px;
    border-radius: 100px;
    font-size: xx-small !important;
    font-weight: 900;

    &>span.counter-badge__text {
        place-content: center;
    }
}

@media (max-width: 640.98px) {
    .top-row {
        height: max-content;
    }


    .top-row ::deep a,
    .top-row ::deep .btn-link {
        margin-left: 0.5remm;
    }

    .window {
        border-top-left-radius: 0;
        height: calc(100% - 2*var(--top-row-height) - 32px);
        width: 100%;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: var(--sidebar-width);
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 10;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row,
    article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}


/* Bell animation */
@keyframes bell-swing {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    40% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(-10deg);
    }

    80% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.bell-animate {
    animation: bell-swing 0.8s ease-in-out;
    transform-origin: top center;
}