.top-row {
    min-height: var(--top-row-height);
}

.navbar-brand {
    font-size: 1.1rem;
}

.bi {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}


.close {
    display: none;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .close {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - var(--top-row-height));
        overflow-y: auto;
    }

    .navbar {
        height: var(--top-row-height);
    }
}