@namespace EventEase.Components
@using EventEase.Models
@using Microsoft.AspNetCore.Components
@inject Services.IEventService EventService

<div class="">
    <div class="list">
        @if (Events != null && Events.Any())
        {
            @foreach (Event e in Events)
            {
                <EventCard Event="e" />
            }
        }
        else
        {
            <p>No events available.</p>
        }
    </div>
</div>

<style> 
    .list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-template-rows: auto;
        gap: 1rem;
    }

</style>

@code {
    [Parameter] public List<Event>? Events { get; set; }
}