@namespace EventEase.Components
@using EventEase.Models
@using Microsoft.AspNetCore.Components
@inject Services.IEventService EventService

<div class="container-fluid">
    <div class="row">
        @if (Events != null && Events.Any())
        {
            @foreach (Event e in Events)
            {
                <div class="col-md-4 mb-4">
                    <EventCard Event="e" />
                </div>
            }
        }
        else
        {
            <p>No events available.</p>
        }
    </div>
</div>


@code {
    [Parameter] public List<Event>? Events { get; set; }
}