@page "/events"
@using EventEase.Components
@inject HttpClient Http

<PageTitle>Events</PageTitle>

<h1>Events</h1>



@if (events == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <EventList Events="events" />
    </div>
}

@code {
    private List<EventEase.Models.Event>? events;

    protected override async Task OnInitializedAsync()
    {
        events = await Http.GetFromJsonAsync<List<EventEase.Models.Event>>("sample-data/events.json");
    }
}