@page "/events"
@using EventEase.Components
@using EventEase.Models
@inject Services.IEventService indexedDbService

<PageTitle>Events</PageTitle>

<h1>Events</h1>
<NavLink class="btn btn-primary mb-3" href="/events/add" Match="NavLinkMatch.All">
    Add Event
</NavLink>


@if (events == null)
{
    @* <p><em>Loading...</em></p> *@
    <div class="d-flex justify-content-center align-items-center" style="height: 50vh;">
        <div class="spinner-border" role="status"
            style="width: 5rem; height: 5rem; border-width: 0.5rem; border-color: #0d6efd; border-right-color: transparent;">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else
{
    <div>
        <EventList Events="events" />
    </div>
}

@code {
    private List<EventEase.Models.Event>? events;

    [Inject]
    private IJSRuntime JSInterop { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1000); // Simulate loading delay
        events = (await indexedDbService.GetAllEventsAsync()).ToList();
        await JSInterop.InvokeVoidAsync("console.log", $"Loaded {events.Count} events from IndexedDB.");
    }
}