@page "/events"
@using EventEase.Components
@using EventEase.Models
@inject Services.IEventService indexedDbService

<PageTitle>Events</PageTitle>

<div class="d-flex justify-content-between">
    <h1>Events</h1>
    <NavLink class="btn btn-primary mb-3 d-flex align-items-center gap-2" href="events/add" Match="NavLinkMatch.All">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
        </svg>
        <span>
            Add Event
        </span>
    </NavLink>
</div>


@if (events == null)
{
    <div class="d-flex justify-content-center align-items-center mb-5" style="height: 50vh;">
        <div class="spinner-border" role="status"
            style="width: 5rem; height: 5rem; border-width: 0.5rem; border-color: #0d6efd; border-right-color: transparent;">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else
{
    <div class="mb-5">
        <EventList Events="events" />
    </div>
}

@code {
    private List<EventEase.Models.Event>? events;

    [Inject]
    private IJSRuntime JSInterop { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        events = (await indexedDbService.GetAllEventsAsync()).ToList();
        await JSInterop.InvokeVoidAsync("console.log", $"Loaded {events.Count} events from IndexedDB.");
    }
}