@page "/events/{Id:int}/register"
@using Models
@using Microsoft.AspNetCore.Components.Forms
@inject Services.IAttendeeService attendeeService
@inject NavigationManager Nav
@inject EventStateContainer State

@if (State.CurrentEvent == null) {
    @inject Services.IEventService eventService
}

<h3>Register to @(State.CurrentEvent?.Name)</h3>
<div class="mt-4 container-sm" style="max-width: 648px">
    <h4>Fill up attendee details</h4>
    <EditForm
        Model="@Attendee"
        OnValidSubmit="HandleSave"
        class="my-3 row">
        <!-- Form fields for event details would go here -->
        <DataAnnotationsValidator />
        <ValidationSummary class="alert alert-danger list-unstyled" />
        <div class="mb-3 col-md-6">
            <label for="attendeeName" class="form-label">
                Name
            </label>
            <InputText
                type="text"
                class="form-control"
                id="attendeeName"
                @bind-Value="Attendee.Name" />
            <ValidationMessage For="()=>Attendee.Name" />
        </div>
        <div class="mb-3 col-md-6">
            <label for="attendeeEmail" class="form-label">
                Email
            </label>
            <InputText
                type="email"
                class="form-control"
                id="attendeeEmail"
                @bind-Value="Attendee.Email" />
            <ValidationMessage For="()=>Attendee.Email" />
        </div>
        <div class="mb-3">
            <input
                type="hidden"
                class="form-control"
                id="eventId"
                @bind="Attendee.EventId" />
        </div>
        <div>
            <button type="submit" class="btn btn-primary">
                Submit
            </button>
        </div>
    </EditForm>
</div>

@code
{
    [Parameter] public int Id { get; set; }

    public AttendeeModel Attendee { get; set; } = new AttendeeModel();

    protected override async Task OnInitializedAsync()
    {
        Attendee.EventId = Id;
        if (State.CurrentEvent == null || State.CurrentEvent.Id != Id) {
            State.CurrentEvent = await eventService.GetEventByIdAsync(Id);
        }
    }

    private async Task HandleSave()
    {
        // Logic to save the eventModel to a database or API would go here
        await attendeeService.CreateAttendeeAsync(Attendee);
        // navigate to the events list page
        Nav.NavigateTo($"{Nav.BaseUri}events/{Id}/attendees");
    }
}
