@page "/events"
@using EventEase.Components
@using EventEase.Models
@inject Services.IEventService indexedDbService

<PageTitle>Events</PageTitle>

<h1>Events</h1>
<NavLink class="btn btn-primary mb-3" href="/events/add" Match="NavLinkMatch.All">
    Add Event
</NavLink>


@if (events == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <EventList Events="events" />
    </div>
}

@code {
    private List<EventEase.Models.Event>? events;

    [Inject]
    private IJSRuntime JSInterop { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        events = (await indexedDbService.GetAllEventsAsync()).ToList();
        await JSInterop.InvokeVoidAsync("console.log", $"Loaded {events.Count} events from IndexedDB.");
    }
}